.App {
  font-family: sans-serif;
  text-align: center;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  background-color: #fff6e8;
}
.books {
  display: flex;
  padding-top: 6rem;
  gap: 1rem;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 2rem;
}
.displayNone {
  display: none;
}
